.Dashboard {
    display: flex;
    flex-direction: column;
    flex :1; /* 부모에서 남은 공간을 채움 */
    max-height: 100%; /* 부모 높이 내에서 제한 */
    margin-left: 350px;
    overflow-y: auto;

}

.Dashboard .Content-Container{
    margin-top: 40px;
    margin-left: 80px;
    margin-right: 40px;
    flex :1;
    display: flex;
    height: fit-content;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    gap: 30px;
    flex-direction: row;
}

.Dashboard .MainBoard{
    flex-direction: column;
    display: flex;
    background-color: white;
    flex-basis: 70%;
    height: 100vh;
    gap: 50px;
}

.Dashboard .AnannouncementBoard{
    background-color: grey;
    flex-basis: 20%;
}

.Dashboard .TopDividedBoard{
    display: flex;
    flex-direction: row;
    background-color: white;
    flex-basis: 30%;
    gap: 30%;
}

.Dashboard .BulletinBoard{
    display: flex;
    flex-direction: row;
    flex-basis: 40%;
    background-color: grey;
}

.Dashboard .LectureBoard{
    display: flex;
    flex-direction: row;
    flex-basis: 40%;
    background-color: grey;
}

.Dashboard .Market{
    background-color: grey;
    flex-basis: 20%;
}

.Dashboard .DownDividedBoard{
    display: flex;
    flex-direction: row;
    background-color: white;
    flex-basis: 30%;
    gap: 30%;
}

.Dashboard .HottopicBoard{
    display: flex;
    flex-direction: row;
    flex-basis: 40%;
    background-color: grey;
}

.Dashboard .SecretBulletinBoard{
    display: flex;
    flex-direction: row;
    flex-basis: 40%;
    background-color: grey;
}

.Dashboard .SideBoard{
    background-color: white;
    flex-grow: 1;
    height: 100vh;
}

.Dashboard .EmploymentinformationBoard{
    background-color: grey;
    height: 100vh;
}

.Dashboard .box{
    background-color: grey;
    width: calc(33.333% - 20px); /* 한 줄에 3개 */
    max-width: 500px;
    min-width: 300px; /* 최소 너비 설정 */
    height: 500px;
    border-radius: 10px;
    flex-basis: auto;
}


/* 🔽 작은 화면에서는 한 줄에 하나씩 */
@media (max-width: 1024px) {
    .Dashboard .box {
        width: calc(50% - 20px); /* 두 개씩 배치 */
    }
}

@media (max-width: 768px) {
    .Dashboard .box {
        width: calc(100% - 20px) !important;
    }
}


/* 반응형 레이아웃 550고정정 */
@media (max-width: 550px) { 
    .Dashboard {
        overflow-y: unset;
        margin-left: 0;
    }
    .Dashboard .Content-Container{
        display: flex;
        margin-left: 0
    }
}