.header {
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 300px;
    height: 64px;
    background-color: var(--base-point-color);
    border-bottom: 1px solid var(--base-border-color);
}

.header-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1280px;
}

.header-inner {
    display: flex;
    align-items: center;
    height: 100%;
}

.header .menu-btn {
    display: flex;
    margin-right: 16px;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.header .menu-btn:hover {
    color: var(--point-text-color-blue);
}

.header .logo-btn {
    flex: none;
    display: flex;
    align-items: center;
    width: 70px;
    height: 100%;
}

.header .logo-btn img {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.header .gnb {
    display: flex;
    gap: 25px;
    margin-left: 48px;
}

.logout-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 13px;
    /* 폰트 크기 조정 */
}

.logout-btn:hover {
    opacity: 0.5;
}

.header-space {
    flex-grow: 1;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 25px;
    gap: 60px;
}

.util-box {
    display: flex;
    justify-content: end;
    align-content: center;
    gap: 20px;
}
